@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

:root {
  font-family:  Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .titulo-graffiti {
    font-family: 'Sedgwick Ave Display', cursive;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--clr-brand-light) !important;
  filter: drop-shadow(0 0 .2rem rgba(0, 0, 0, 0.3));

}

.swiper-pagination-bullet {
  background-color: var(--clr-brand-light) !important;
  opacity: 1 !important;
  box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
